---
layout: page
title: Welcome!
subtitle: Doris Amoakohene's Webpage
use-site-title: true
bigimg:
  - "img/newcoverpage.jpg" : "Campus/ NAU"
---

<header>
  <h3 style="color:steelblue;">About Me</h3>
</header>

<p> Doris Afriyie Amoakohene is a Master's student in Informatics at the <a href='https://nau.edu/school-of-informatics-computing-and-cyber-systems'>The School of Informatics, Computing, and Cyber Systems (SICCS)</a> of Northern Arizona University. where she is advised by <a href='https://tdhock.github.io/'> Toby Hocking/a > As part of her graduate studies, she contributes to the development of the data.table package in R. Her research interests include data analytics, computing, and open-source technologies. </p>

<p> Doris holds a Bachelor's degree in Statistics from <a href='https://statacts.knust.edu.gh/'>Kwame Nkrumah University of Science and Technology-Kumasi, Ghana (KNUST)</a>.  Prior to pursuing her graduate degree, she worked as a Billing and Analysis Officer at the National Communication Authority in Ghana and later as a Corporate Finance Advisor in the Financial Advisory department at Deloitte. In 2023 she movet to <a href='https://nau.edu/math/'>Northern Arizona University (NAU)</a> for her Master's degree in Informatics.</p>


<header>
  <h3 style="color:steelblue;"> Membership </h3>
</header>

<ul>
 <li>Student Member; American Statistical Association</li> 
 <li>Student Member; Royal Statistical Society</li>
<li>Student Member; American Mathematical Society</li>
<li>Student Member; Institute for Mathematical and Statistical Innovation</li>
</ul>  

	
<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
